@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #FDC435;
}
.container{
    padding: 200px;
    text-align: center;
}
.container h1{
    text-align: center;
    font-family: Playfair Display;
    font-size: 40px;
    animation: 
    typing 5.0s steps(50,end),
    blink-caret .75s step-end infinite;
    overflow: hidden; 
    border-right: .15em solid rgb(0, 0, 0); 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    
}
.container h3{
    text-align: center;
    font-family: poppins;
    font-size: 30px;
    margin: 25px;
}
.container button{
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 42px;
    margin: 15px;
    border-radius: 15px;
    background-color: black;
    color: white;
}
.container button:hover{
    box-shadow: 5px 10px #fad472;
    transform: scale(1.1);
}

@keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FDC435; }
  }

